[core]
	excludesfile = ~/.gitignore_global
[commit]
	verbose = true
	gpgsign = true
[user]
	name = Kevin Brown
	email = chevinbrown@gmail.com
	signingkey = A726E1E354FBCBA8
[credential]
	helper = cache

[color]
	ui = auto

[rerere]
	enabled = true
[gpg]
	program = gpg
