[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
[commit]
	verbose = true
	gpgsign = true
[user]
	name = Kevin Brown
	email = chevinbrown@gmail.com
	signingkey = 71DE36B5C43E38E1
[credential]
	helper = cache

[color]
	ui = auto

[alias]
  a = "add"
  b = "branch"
  c = "commit"
  ca = "commit -am"
  ch = "checkout"
  fph = "push origin"
  fam = "! git fetch origin && git merge origin/master --ff-only"
  po = "push origin head"
  l = "log"
  s = "status"
  fza = "!git ls-files -m -o --exclude-standard | fzf --print0 -m | xargs -0 -t -o git add"

[rerere]
	enabled = true
[gpg]
	program = gpg
