alias be="bundle exec"

alias g="git"
# Git aliases
alias gm="git merge"
alias gp="git push"
alias grest="git reset --hard"
alias grbm="git rebase origin/master -i"
alias gane="git add . && git commit --amend --no-edit"

# General
alias src="source ~/.zshrc"
alias nv="nvim"
