alias be="bundle exec"
alias cl="clear"

# Git aliases
alias ga="git add"
alias gc="git commit"
alias gca="git commit -am"
alias gch="git checkout"
alias gcl="git clone"
alias gi="git init"
alias gl="git log"
alias gs="git status"
alias gb="git branch"
alias gm="git merge"
alias gp="git push"
alias gpo="git push origin"
alias gfap="git fetch origin && git merge origin/master --ff-only"
alias grao="git remote add origin"
alias grso="git remote show origin"
alias grro="git remote rm origin"
alias grest="git reset --hard"
alias grbm="git rebase origin/master -i"
alias grbd="git rebase origin/develop -i"
alias gprb="git branch --merged | egrep -v '(^\*|master)' | xargs git branch -d"
alias gre="git commit -c $(git rev-parse HEAD)"

alias noi="npm install"
alias noig="npm install -g"
alias noli="npm list -g --depth=0"

# Rails
alias rc="rails console"
alias rdmo="rails destroy model"
alias rdmi="rails destroy migration"
alias rgc="rails generate controller"
alias rgmo="rails generate model"
alias rgmi="rails generate migration"
alias rs="rails server"
alias rdm="rails db:migrate"

# General
alias src="source ~/.zshrc"
